/* Application wide styles */

.root{
    -fx-font-family: "Lucida Sans";
}

/* Tab Pane */

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #00A896;

}

.tab-pane .tab:selected
{
    -fx-background-color: #05668d;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #f0f3bd;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #f0f3bd;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
}

/* Button */
.button{
    -fx-background-color: #00A896;
    -fx-alignment: CENTER;
    -fx-text-fill: #f0f3bd;
}

.button:focused{
    -fx-background-color: #05668d;
}

/* Separator line */
.separator {
    -fx-skin: "com.sun.javafx.scene.control.skin.SeparatorSkin";
}

.separator .line {
    -fx-border-width: 0.083333em; /* 1 */
}

.separator:horizontal .line {
    -fx-background-color: null;
    -fx-padding: 0.083333em 0.0em 0.0em 0.0em; /* 1 0 0 0 */
    -fx-border-color: #00A896 transparent transparent transparent;
}

.separator:vertical .line {
    -fx-background-color: null;
    -fx-padding: 0.0em 0.083333em 0.0em 0.0em; /* 0 1 0 0 */
    -fx-border-color:  transparent #00A896 transparent transparent;
}

/* Radio Button */
.radio-button .radio{
    -fx-border-width     : 1px   ;
    -fx-border-color     : #02c39a;
    -fx-background-color : white ;
    -fx-background-image : null  ;
    -fx-border-radius    : 15px  ;
}
.radio-button .radio:selected{
    -fx-border-color     : #05668d; /* Don't work ? */
}

/* Toggle buttons */
.toggle-button{
    -fx-background-color: #00A896;
    -fx-alignment: CENTER;
    -fx-text-fill: #f0f3bd;
}

.toggle-button:selected{
    -fx-background-color: #05668d;
}

#oldPrice .text{
    -fx-strikethrough: true;
}

#discountedPrice .text{
    -fx-font-weight: bold;
}